<p>
  You can use <a href="https://getbootstrap.com/docs/5.2/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>

<style>
 * { 
 }
</style>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      Full-Width
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
      8
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-md-4">
      4
    </div>
  </div>
</div>
